body {
    background-image: url("img/1-1.webp");
    background-size: cover;
    position: relative;
}
#count {
    color: yellow;
    position: absolute;
    top: 20rem;
    left: 43rem;
    font-size: 1rem;
}